@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin: 10px 0px 15px 0px;
}
.main-contents .card {
    border-color: #fff;
}
.step-load {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    border: 1px;
    background-color: #F9FBFC;
    margin: 25px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.step-load p {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
}
.step1 {
    border-color: #FC8945;
    background-color: #FC8945;
    border-radius: 50%;
    border: 1px ;
    padding: 7px;
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    margin-right: 5px;
}
.remove-no1 {
    border-color: #B8B8B8;
    background-color: #B8B8B8;
}
.remove-load{
    color: #B8B8B8 !important;
}
.load-form {
    color: #FC8945;
}
.step2 {
    border-color: #B8B8B8;
    background-color: #B8B8B8;
    border-radius: 50%;
    border: 1px ;
    padding: 7px;
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    margin-right: 5px;
}
.remove-no2 {
    border-color: #FC8945;
    background-color: #FC8945;
}
.stp2-font {
    color: #B8B8B8;
}
.add-stp2 {
    color: #FC8945;
}
.stp1-font {
    color: #FC8945;
}
.remove-stp1 {
    color: #B8B8B8;
}
.main-contents .form-step1 {
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
}
.input-edit {
    font-size: 14px;
    color: #B8B8B8 !important;
    border: none !important;
    background-color: #F9FBFC !important;
    font-family: inter;
}
.form-label {
    margin-top: 25px;
}
.input-edit:focus {
    box-shadow: none !important;
    background-color: #F9FBFC;
}
.page-next {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 75px 0px 30px 0px;
}
.page1-next {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 75px 0px 30px 0px;
}
.btn-cancel {
    font-size: 12px !important;
    border-color: #FC8945 !important;
    background-color: #fff !important;
    color: #FC8945 !important;
    width: 73px;
    height: 30px;
}
#cancel1 {
    font-size: 12px !important;
    border-color: #FC8945 !important;
    background-color: #fff !important;
    color: #FC8945 !important;
    width: 73px;
    height: 30px;
}
.btn-next {
    font-size: 12px !important;
    border: none !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    width: 73px;
    height: 30px;
}
#submit1 {
    font-size: 12px !important;
    border: none !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    width: 73px;
    height: 30px;
}
.main-contents .form-step2 {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 10px;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
}
.form-check-input:checked {
    background-color: #EBEBEB !important;
}
.form-switch .form-check-input:checked {
    --bs-form-switch-bg: url(../images/switch.png) !important;
    
}
.form-switch .form-check-input {
    cursor: pointer !important;
}
.input-imagebox {
    border-style: dashed !important;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-width: 1px;
    height: 74px !important;
    width: 100% !important;
}
.form-img {
    border: 1px;
    border-style: dashed;
    border-radius: 3px;
    background-color: #fff;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 25px;
}
@media only screen and (max-width: 472px) {
    .load-form {
        display: none !important;
    }
}
form label {
    margin-left: 11px;
}
