@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #F9FBFC !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}

.home-text {
    font-size: 14px;
    color: #ADADAD;
    margin: 10px 0px 10px 0px;
}
.home-text span {
    font-size: 14px;
    color: #080808;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin: 0px 0px 15px 0px;
}
.main-contents .card {
    border-color: #fff;
}
.input-edit {
    margin-bottom: 10PX !important;
    height: 30px !important;
    border-color: #FC8945 !important;
    border-radius: 3px !important;
    font-size: 12px !important;
    color: #ADADAD !important;
}
.input-edit:focus {
    box-shadow: none !important;
    border-color: #FC8945 !important;
}
.check-icon {
    border-color: #FC8945 !important;
    color: #FC8945 !important;
    border: 1px solid !important;
}

.add-btn {
    border-color: #FC8945 !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    font-size: 13px !important;
    width: 70px;
    height: 30px;
}
.add-btn:hover {
    background-color: #FC8945 !important;
    border: #FC8945 !important;
    color: #fff !important;
}
.main-contents table th {
    background-color: #EBEBEB;
    font-size: 14px;
    padding: 16px
}
.main-contents table {
    font-size: 14px;
    font-weight: bold;
}
table td img {
    border-radius: 50%;
    margin-right: 4px;
}
table td {
    vertical-align: middle;
    padding: 15px !important
}
table .tbl-active {
    color: #00A611 !important;
}
table td button {
    border: none;
    background-color: #fff;
    text-align: center;
}
table td .dropdown-menu {
    min-width: 0px !important;
    border-radius: 3px !important;
    border-color: #fff !important;
    font-size: 13px !important;

}
table .dropdown-menu i {
    color: #FC8945;
    font-size: 14px;
    margin-right: 3px;
}
table .dropdown-toggle::after {
    content: none !important;
}
.pagination .page-link {
    font-size: 10.4px;
    color: #000;
}
.pagination {
    margin-bottom: 10px !important;
    margin-right: 10px;
}
.pagination li a {
    border: 1px solid #DFE3E8 !important;
    border-radius: 0px !important;
    background-color: #fff;
    height: 23.76px;
    width: 23.76px;
    margin-right: 10px;
    padding: 4px 0px 0px 9px !important;
}
.pagination li a:focus {
    border-color: #FC8945 !important;
    color: #FC8945 !important;
    box-shadow: none !important;
    background-color: #fff;
}
.tittle-box button {
    border-color: #FC8945;
    border-radius: 3px;
    color: #FC8945;
    background-color: #fff;
    height: 30px;
    width: 35px;
    padding: 2px 0px 0px 0px;
}
table .material-icons {
    padding: 6px;
}