@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.title-part {
    display: flex;
    justify-content: space-between;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.main-contents .tittle-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.input-edit {
    border-color: #FC8945 !important;
    border-radius: 3px !important;
    height: 30px !important;
    font-size: 12px !important;
    padding: 5px !important;
    margin-bottom: 10px;
}
.input-edit:focus {
    box-shadow: none !important;
    border-color: #FC8945 !important;
}
.main-contents .card {
    border-color: #fff;
    margin-top: 15px;
}
.main-contents .tittle-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    padding: 20px
}
.add-btn {
    border-color: #FC8945 !important;
    background-color: #FC8945 !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-size: 13px !important;
    width: 80px; 
    height: 30px;
}
.main-contents .add-form {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 10px;
}
.reduce-maincontents {
    margin-left: 55px;
}
.card table  {
    vertical-align: middle;
}
.card table th {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    font-size: 15px;
    padding: 15px;
} 
.card table td {
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}
.side-bar-list a {
    color: #9BA4B5 !important;
    text-decoration: none !important;
}
.card table td button {
    border: none;
    background-color: #fff;
}
table .tbl-active {
    color: #00A611 !important;
}
table td .dropdown-menu {
    min-width: 0px !important;
    border-radius: 3px !important;
    border-color: #fff !important;
    font-size: 13px !important;

}
table .dropdown-menu i {
    color: #FC8945;
    font-size: 14px;
    margin-right: 3px;
}
table .dropdown-toggle::after {
    content: none !important;
}
.pagination .page-link {
    font-size: 10.4px;
    color: #000;
}
.pagination {

    margin-bottom: 10px !important;
    margin-right: 10px;
}
.pagination li a {
    border: 1px solid #DFE3E8 !important;
    border-radius: 0px !important;
    background-color: #fff;
    height: 23.76px;
    width: 23.76px;
    margin-right: 10px;
    padding: 4px 0px 0px 9px !important;
}
.pagination li a:focus {
    border-color: #FC8945 !important;
    color: #FC8945 !important;
    box-shadow: none !important;
    background-color: #fff;
}
.tittle-box form button {
    background-color: #fff !important;
    border-color: #FC8945 !important;
    padding: 0px !important;
    width: 35px !important;
    height: 30px !important;
}
.check-icon {
    color: #FC8945 !important;
    border-color: #FC8945 !important;
    border: 1px solid;
}