@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin: 14px 0px 24px 0px;
}
.main-contents .card {
    border-color: #fff;
}
.check-icon {
    color: #FC8945 !important;
    border: 1px solid #FC8945 !important;
}
.input-edit {
    height: 30px;
    border-color: #FC8945 !important;
    border-radius: 3px !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
}
.input-edit:focus {
    box-shadow: none !important;
    border-color: #FC8945 !important;
}
.add-btn {
    border-color: #FC8945 !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    font-size: 13px !important;
}
.main-contents table th {
    background-color: #EBEBEB;
    font-size: 14px;
    padding: 20px;
}
.main-contents table {
    font-size: 14px;
    font-weight: bold;
}
table td {
    vertical-align: middle;
    padding: 20px !important;
}
table .tbl-active {
    color: #00A611 !important;
}