@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
}
.card {
    border-color: #fff !important;
    background-color: #fff;
}
.nav-underline .nav-link.active {
    color: #FC8945 !important;
    border-bottom-color: #FC8945 !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-width: 3px !important; 
    width: 70% !important;  
}
.nav-link {
    color: #000 !important;
    font-size: 12px !important;
    padding: 10px 0px 10px 0px !important;
    width: 70% !important;
}
.nav-link:hover {
    border-bottom-color: #FC8945 !important;
    border-bottom-color: #FC8945 !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-width: 3px !important;
}
.tabs-line {
    width: 95% !important;
    background-color: #E2E2E2;
}
.card-2 {
    background-color: #fff !important;
    border-color: #fff !important;
    border-radius: 10px;
    width: 90% !important;
}
.orange-btn {
    border: 1px solid #FC8945 !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    font-size: 13px !important;
}
.orange-border {
    border: 1px solid #FC8945 !important;
    background-color: #fff !important;
    color: #FB640A !important;
    font-size: 13px !important;
}
.color-p {
    color: #9BA4B5;
    font-size: 13px;
    margin-bottom: 0px !important;
}
.table th,td {
    padding: 15px !important;
}
.table td {
    color: #616161;
    font-size: 14px;
}
.tbl-active {
    color: #00A611 !important;
}
.edit-icon {
    color: #FC8945 !important;
    font-size: 16px !important;
    border: 1px solid #f9e1d8 !important;
    background-color: #f9e1d8 !important;
    padding: 5px;
    border-radius: 5px;
}
.delete-icon {
    color: #FC8945 !important;
    font-size: 15px !important;
    border: 1px solid #f9e1d8 !important;
    background-color: #f9e1d8 !important;
    padding: 5px 6px 7px 6px;
    border-radius: 5px;
}
.pagination .page-link {
    font-size: 10.4px;
    color: #000;
}
.pagination {
    margin-bottom: 10px !important;
    margin-right: 10px;
}
.pagination li a {
    border: 1px solid #DFE3E8 !important;
    border-radius: 0px !important;
    background-color: #fff;
    height: 23.76px;
    width: 23.76px;
    margin-right: 10px;
    padding: 4px 0px 0px 9px !important;
}
.pagination li a:focus {
    border-color: #FC8945 !important;
    color: #FC8945 !important;
    box-shadow: none !important;
    background-color: #fff;
}
.input-edit {
     border-color: #FC8945 !important;
     border-radius: 3px !important;
     font-size: 13px !important;
     background-color: #F4F4F4 !important;
     margin-bottom: 10px;
}
.check-icon {
    border: 1px solid #FC8945 !important;
    color: #FC8945 !important;
}
@media only screen and (max-width:550px){
    h3 {
        font-size: 14px !important;
    }
    .table th,td {
        font-size: 14px !important;
    }
}
.bold-text {
    font-size: 16px !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}
li {
    color: #9BA4B5 !important;
    font-size: 13px !important;
}
.height-edit {
    height: 100% !important;
}
.height-edit1 {
    height: 50% !important;
}
.card-3 {
    border-color: #fff !important;
    background-color: #fff !important;
    box-shadow: 0px 4px 4px 0px rgba(72, 67, 67, 0.25);
}

.switch-edit:checked {
    background-color: #EBEBEB !important;
    border-color: #EBEBEB !important;
    --bs-form-switch-bg: url(../images/switch.png) !important;
}
.switch-edit:focus {
    box-shadow: none !important;
}
.switch-edit {
    background-color: #EBEBEB !important;
    border-color: #EBEBEB !important;
    --bs-form-switch-bg: url(../images/switch.png) !important;
}
.manual-check {
    border-color: #999 !important;
    background-color: #EBEBEB;
}
.manual-check:checked {
    background-color: #00A611 !important;
}
.manual-check:focus  {
    border-color: #999 !important;
    box-shadow: none !important;
}
.input-edit-form {
    border-color: #fff !important;
    background-color: #F9FBFC !important;
    font-size: 14px !important;
}
.input-edit-form:focus {
    box-shadow: none !important;
    border-color: #fff !important;
    background-color: #F9FBFC !important;
}
.form-label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px !important;
}
form ::placeholder {
    color: #888787 !important;
    font-size: 12px !important;
}
.orange-txt {
    color: #FB640A;
    font-size: 14px;
    font-family: Inter;
    font-weight: bold;
}
.lorange-btn {
    border: 1px solid #FB640A !important;
    background-color: #f9e1d8 !important;
    color: #FB640A !important;
    font-size: 13px;
}
.check-table th,td{
    padding: 10px !important;
    background-color: #fff !important;
}