@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #F9FBFC !important;
}
.side-bar-main {
    position: fixed;
    width: 248px;
    height: 150vh;
    background-color: #fff;
    margin-top: -68px;
    box-shadow: 0px 4px 4px 0px rgba(72, 67, 67, 0.25);
    z-index: 999;
}
.side-bar-main .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    margin: 26px 0px 10px 0px;
}
.side-bar-main .logo i {
    font-size: 25px;
    color: #FC8945;
}
.side-bar-list {
    list-style-type: none;
    color: #9BA4B5;
    padding: 0px;
    font-size: 14px;
}
.side-bar-list a>li {
    height: 48px;
    padding-left: 30px;
    padding-top: 13px;
}
.side-bar-list img {
    margin-right: 10px;
}
.custom-nav nav {
    background-color: #fff !important;
    margin-left: 248px;
    height: 55px;
}
.custom-nav input {
    border-color: #FC8945;
    border-radius: 3px;
    font-size: 12px;
    color: #ADADAD;
    height: 30px;
    width: 180px;
    padding-left: 28px;
}
.custom-nav input:focus {
    box-shadow: none !important;
    border-color: #FC8945 !important;
}
.custom-nav form > i {
    margin-left: 1px;
}
.navbar-collapse {
    justify-content: space-between !important;
    margin: 0px 10px 0px 13px !important;
}
.side-bar-list a li:hover {
    background-color: #f9e1d8!important;
    color: #FC8945!important;
    width: 100%;
}
.clogo img {
    margin-left: 174px;
}
.side-bar-list a {
    color: #9BA4B5 !important;
    text-decoration: none !important;
}
.custom-nav span i {
    font-size: 30px;
    color: #FC8945;
}
.max-sidebar {
    margin-left: 0px !important;
} 
.custom-nav form i {
    position: absolute;
    top: 8px;
    left: 19px;
}
.custom-nav .nav-design {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.accordion .accordion-button {
    height: 48px !important;
    padding-left: 30px;
    font-size: 14px;
    color: #9BA4B5;
}
.accordion .accordion-button:focus {
    box-shadow: none !important;
    background-color: #f9e1d8 !important;
    color: #FC8945 !important;
}
.accordion-body ul{
    list-style-type: none;
    padding: 0px !important;
}
.accordion-body {
    padding: 0px !important;
}
.accordion-body button {
    border: none;
    color: #9BA4B5 ;
    font-size: 14px;
    height: 42px;
    width: 100%;
    background-color: #fff;
    text-align: left !important;
    padding-left: 60px;
}
.nav-design form input {
    margin-left: 10px;
}
.accordion button:hover{
    background-color: #f9e1d8!important;
    color: #FC8945!important;
}
.accordion-button::after {
    content: none !important;
}
.accordion button i {
    margin-left: 50px;
}
.error {
    color: red !important;
    font-size: 14px;
    font-family: Inter;
}
.navbar-part button{
    border: none;
    background-color: #fff;
}
.custom-nav .container-fluid {
    flex-wrap: nowrap !important;
    column-gap: 15px;
}
.custom-nav .navbar-part .dropdown-menu {
    top: 152% !important;
    left: -120px !important;
}
.custom-nav .dropdown-toggle::after {
    content: none !important;
}
.order-edit {
    padding-left: 62px !important;
}
@media (min-width: 992px) and (max-width: 2550px) {
    .logo i {
        display: none !important;
    }
    .side-bar-main .logo {
        margin-left: -60px;
    }
}
@media only screen and (max-width: 991px) {
    .side-bar-main {
    margin-left: -250px;
    }
    .custom-nav {
    margin-left: -250px !important;
    }
    .main-contents {
        margin-left: 0px;
    } 
    .logo i {
        display: block !important;
    }
    .move-sidebarin {
        display: block !important;
    }
    .navbar-part > a{
        display: none;
    }
    .navbar-part  button {
        margin-left: 10px;
    }
    .custom-nav .nav-design {
        justify-content: end;
    }
}
/* @media (min-width: 769px) and (max-width: 991px) {
    .nav-design form {
        margin-left: 700px;
    }
} */
