@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents .home-text{
    color: #ADADAD;
    font-size: 14px;
    margin: 10px 0px 10px 15px;
}
.main-contents p span {
    color: #2C2B56;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin: 0px 0px 15px 15px;
}
.input-edit-title {
    border-color: #FC8945 !important;
    height: 30px !important;
    border-radius: 3px !important;
    font-size: 13px !important;
    margin-bottom: 10px !important;
}
.check-icon {
    border: 1px solid #FC8945 !important;
    color: #FC8945 !important;
}
.add-btn {
    border-color: #FC8945 !important;
    background-color: #FC8945 !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-size: 13px !important;
    width: 80px !important;
    height: 30px !important;
}
.input-edit-title:focus {
    box-shadow: none !important;
}
.main-contents .card {
    border-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
.main-contents table th {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    font-size: 14px;
    padding: 20px !important;
}
.main-contents table td{
    font-size: 14px;
    font-weight: bold;
    padding: 20px !important;
}
.main-contents table td img{
    margin-right: 5px !important;
}
.main-contents table td button {
    border: none;
    background-color: #fff;
}
.search-bar {
    width: 107px !important;
}
.customise-modal h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}
.customise-modal .modal-content {
    border-radius: 18px;
}
.modal-form-edit {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
.customise-modal .modal-form-edit select {
    width: 300px;
    color: #888787;
    font-size: 14px;
    border-color: #fff;
    background-color: #F9FBFC;
}
.modal-form-edit [type="text"]{
    width: 300px;
    color: #888787;
    font-size: 14px;
    border-color: #fff;
    background-color: #F9FBFC;
}
.modal-form-edit input:focus {
    box-shadow: none !important;
    border-color: #fff;
}
.modal-form-edit select:focus {
    box-shadow: none !important;
}
.modal-form-edit textarea {
    width: 300px;
    color: #888787;
    font-size: 14px;
    border-color: #fff;
    background-color: #F9FBFC;
}
.modal-form-edit textarea:focus {
    box-shadow: none !important;
    border-color: #fff;
}
.modal-form-edit [type="file"] {
    width: 300px;
    font-size: 14px;
    border-color: #fff;
    background-color: #F9FBFC;
}
.modal-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    margin-top: 30px;
}
.modal-submit #cancel {
    font-size: 12px;
    border-color: #FC8945;
    background-color: #fff;
    color: #FC8945;
    width: 73px;
    height: 30px;
}
.modal-submit [name="submit"]{
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
    width: 73px;
    height: 30px;
}
.modal-submit [name="submit"]:hover {
    background-color: #FC8945;
    border-color: #FC8945;
    color: #fff;
}
.total-view h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.total-view .sec2-list {
    padding-top: 49px;
}
.total-view .sec3-list {
    padding-top: 49px;
}
.total-view .sec4-list {
    padding-top: 49px;
}
.modal-dialog {
    width: 1000px !important;
    max-width: none !important;
}
.pagination .page-link {
    font-size: 10.4px;
    color: #000;
}
.pagination {

    margin-bottom: 10px !important;
    margin-right: 10px;
}
.pagination li a {
    border: 1px solid #DFE3E8 !important;
    border-radius: 0px !important;
    background-color: #fff;
    height: 23.76px;
    width: 23.76px;
    margin-right: 10px;
    padding: 4px 0px 0px 9px !important;
}
.pagination li a:focus {
    border-color: #FC8945 !important;
    color: #FC8945 !important;
    box-shadow: none !important;
    background-color: #fff;
}
table .tbl-active {
    color: #00A611 !important;
}
table td .dropdown-menu {
    min-width: 0px !important;
    border-radius: 3px !important;
    border-color: #fff !important;
    font-size: 13px !important;

}
table .dropdown-menu i {
    color: #FC8945;
    font-size: 14px;
    margin-right: 3px;
}
table .dropdown-toggle::after {
    content: none !important;
}
.main-contents table {
    vertical-align: middle;
}
.tittle-box form button {
    background-color: #fff !important;
    padding: 0px !important;
    width: 35px !important;
    height: 30px !important;
}
.tittle-box form button i {
    color: #FC8945;
    padding-top: 2px;
}
#cancel12 {
    font-size: 12px;
    border-color: #FC8945;
    background-color: #fff;
    color: #FC8945;
    width: 73px;
    height: 30px;
}
.final-submit {
    margin: 20px 0px 30px 0px;
}
#edit1 {
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
    width: 73px;
    height: 30px;
    margin-right: 30px;
}
@media (min-width:950px) and (max-width:1150px) {
    .modal-dialog { 
        width: 900px !important;
        max-width: none !important;
    }
} 
@media (min-width:850px) and (max-width:949px) {
    .modal-dialog { 
        width: 800px !important;
        max-width: none !important;
    }
} 
@media (min-width:600px) and (max-width:849px) {
    .modal-dialog { 
        width: 550px !important;
        max-width: none !important;
    }
} 
@media (min-width:576px) and (max-width:599px) {
    .modal-dialog { 
        width: 350px !important;
        max-width: none !important;
    }
} 
@media (min-width:400px) and (max-width:599px) {
    .modal-dialog { 
        width: 350px !important;
        max-width: none !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
@media only screen and (max-width:399px) {
    .modal-dialog { 
        width: 250px !important;
        max-width: none !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .modal-form-edit [type="file"] {
        width: 200px !important;
    }
    .modal-form-edit textarea {
        width: 200px !important;
    }
    .modal-form-edit select {
        width: 200px !important;
    }
    .modal-form-edit input {
        width: 200px !important;
    }
    .total-view h2 {
        font-size: 14px;
    }
    .total-view p {
        font-size: 10px;
    }
}
